
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.nav-logo-parent {
    padding-left: 0rem;
}

.nav-logo-parent > a {
    background-color: white;
    margin-left: 0rem;
    padding-right: 2rem;
    padding-left: 10%;
}

.navbar {
    background-color: orangered;
}

.navbar-brand {
    display: inherit;
    align-items: center;
}

.nav-link {
    display: flex;
    justify-content: center;
}


.jumbotron {
    background-image: url(./images/hero-banner.jpg);
    background-size: cover;
    background-color: orangered;
    background-blend-mode: multiply;
    height: 16rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.jumbotron h2 {
    background-color: orangered;
    color: white;
}

/* -----------------main------------------------- */

.section {
    margin-top: 2rem;
}

.section h2 {
    border-right: solid orangered;
}

.main-img {
    background-image: url("./images/WebsiteScreenshots/Portfolio\ screenshot.jpg");
    height: 25rem;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem 0.5rem 1rem 0.5rem;
    padding: 0rem;
    border: black solid 0.3rem;
    background-size: cover;
    background-color: orangered;
    background-blend-mode: multiply;
    text-decoration: none;
}

.sub-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem 0.5rem 1rem 0.5rem;
    height: 12rem;
    width: 46.5%;
    padding-left: 0%;
    padding-right: 0%;
    border: black solid 0.3rem;
    background-size: cover;
    background-color: orangered;
    background-blend-mode: multiply;
    text-decoration: none;
}

.left-img {
    margin-right: 1%;
}

.right-img {
    margin-left: 1%;
}

.sub-img-1 {
    background-image: url("./images/WebsiteScreenshots/Online\ CV\ screenshot.jpg");
}

.sub-img-2 {
    background-image: url("./images/WebsiteScreenshots/firefox\ mockup\ screenshot.jpg");   
}

.sub-img-3 {
    background-image: url("./images/WebsiteScreenshots/sf6\ ref\ tool\ screenshot.jpg");
}

.sub-img-4 {
    background-image: url("./images/WebsiteScreenshots/rock\ paper\ scissors\ screenshot.jpg");
}

.txt-container {
    background-color: black;
    border-right: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-top: 6rem;
    color: orangered;
}

.main-img .txt-container {
    margin-top: 18rem;
}

.txt-container h3 {
    font-size: 1.2rem;
}

.txt-container h4 {
    font-size: 0.9rem;
}

.footer-links h3 {
    font-size: 1.2rem;
}

/* media queries */
@media (max-width: 992px) {
    .section h2 {
        border-right: none;
        border-top: orangered solid;
        border-bottom: orangered solid;
        border-right: none;
        justify-content: center;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1rem;
    }

    .main-img {
        height: 20rem;
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0rem 2.5% 1rem 2.5%;
        border: black solid 0.3rem;
        background-size: cover;
        background-color: orangered;
        background-blend-mode: multiply;
        text-decoration: none;
    }

    .main-img .txt-container {
        margin-top: 6rem;
    }

    .sub-img {
        height: 15rem;
        width: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0rem 2.5% 1rem 2.5%;
    }

    .footer-links {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .sub-img {
        height: 15rem;
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0rem 2.5% 1rem 2.5%;
    }

    .footer-links {
        font-size: 1rem;
    }
}
